#add-player{
    background-image: linear-gradient(90deg, rgba(175, 149, 111, 0.836) 0%, rgb(144, 154, 165) 35%, rgb(220, 248, 253) 100%);;
    
    padding-top: 120px;
    padding-bottom: 100px;
}

#player-add-form{
    width: 60%;
    margin: 0 auto;
}

#player-add-form h1{
    font-size: 32px;
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}

.input-data{
    display: block;
    background-color: rgb(29, 28, 28);
    width: 70%;
    margin: 25px auto;
    font-size: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    align-items: center;
}

#submit-btn{
    background-color: #db2f23;
    color: black;
    font-weight: 600;
    display: block;
    width: 70%;
    margin: 10px auto 0;
    font-size: 16px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}